/* ANIMACION DEL LOGO */

.logo-img {
  width: 50px;
  -webkit-animation: rotate-diagonal-1 5s linear 1s 2;
  animation: rotate-diagonal-1 5s linear 1s 2;
}

@-webkit-keyframes rotate-diagonal-1 {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, -180deg);
    transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, -360deg);
    transform: rotate3d(1, 1, 0, -360deg);
  }
}
@keyframes rotate-diagonal-1 {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, -180deg);
    transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, -360deg);
    transform: rotate3d(1, 1, 0, -360deg);
  }
}

/* ANIMACION DE CARD TIENDA */

.card-product:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #0000008a;
  transform: scale(1.01);
  transition: all 0.5s ease-in-out;
}

.card-product::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff5e;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.7s all;
}

.card-product:hover::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}
