@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-bg: #100f0f;
  --golden: #ebbf34;
  --golden-light: #e2cab3;
  --grey: #2d2c2a;
}

body {
  width: 100vw;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  /* background-color: var(--color-bg); */
  background: rgb(16, 15, 15);
  background: linear-gradient(
    180deg,
    rgba(16, 15, 15, 1) 12%,
    rgba(65, 62, 56, 1) 100%
  );
  justify-content: space-between;
  padding: 0px 50px;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
}

.logo-img {
  width: 50px;
  -webkit-animation: rotate-diagonal-1 5s linear 1s 2;
  animation: rotate-diagonal-1 5s linear 1s 2;
}

@-webkit-keyframes rotate-diagonal-1 {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, -180deg);
    transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, -360deg);
    transform: rotate3d(1, 1, 0, -360deg);
  }
}
@keyframes rotate-diagonal-1 {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, -180deg);
    transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, -360deg);
    transform: rotate3d(1, 1, 0, -360deg);
  }
}

.burguer-img {
  width: 50px;
}

.burguer-img,
#burguer {
  display: none;
}

.navBar {
  height: 100%;
}

.nav-menu {
  gap: 50px;
  height: 100%;
}

.nav-menu a {
  color: var(--golden-light);
}

.nav-menu li {
  height: 80%;
  transition: all 2s ease;
  border: 1px solid transparent;
}

.nav-menu li:hover {
  border-bottom: 1px solid #ebbf34;
  transition: all 2s ease;
  border-radius: 5px;
}

/* SECTION - INICIO */

.section-inicio {
  width: 100%;
  height: 90vh;
  background: url(./img/fondo-anillo.png) center center no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 20px;
  text-align: center;
  margin-top: 10vh;
}

.inicio-title {
  font-size: 3rem;
  font-family: "Cinzel", serif;
  color: var(--grey);
}

.inicio-text {
  font-size: 1rem;
  color: var(--golden-light);
  width: 70%;
}

/* ************************************** */

/* SECTION - MEJORES ESCENAS */
